* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 100.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    display: flex;
}
li {
    /* list-style: none; */
    padding: 16px;
}
a{
    text-decoration: none;
}

header {
    height: 10vh;
    width: 100%;
}
header nav {
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section {
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: aqua;
}

nav .nav-right-section a {
    /* margin-right: 10px; */
    color: #000000;
}
nav .nav-right-section .menu-icon {
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}
nav .nav-right-section img {
    border-radius: 50%;
}
.sign-up {
    /* background-color: rgb(39, 132, 255); */
    border: 0;
    border-radius: 15px;
}
main section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}
#Buscador nav {
    border: 2px solid grey;
    border-radius: 30px;
    width: 50vw;
}
#Buscador nav ul {
    display: flex;
    justify-content: space-between;
}

button {
    margin: 20px;
    height: 50px;
    width: 200px;
    background-color: rgb(233, 233, 233);
    color: rgb(49, 49, 49);
    border: 0;
    border-radius: 10px;
}
footer {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}